<table class="table table-bordered">
    <thead>
        <th>CEP de origem</th>
        <th>CEP de destino</th>
        <th>Comprimento (cm)</th>
        <th>Largura (cm)</th>
        <th>Altura (cm)</th>
        <th>Peso (kg)</th>
    </thead>
    <tbody>
        <tr>
            <td><input type="number" [(ngModel)]="cepOrigem"></td>
            <td><input type="number" [(ngModel)]="cepDestino"></td>
            <td><input type="number" [(ngModel)]="comprimento"></td>
            <td><input type="number" [(ngModel)]="largura"></td>
            <td><input type="number" [(ngModel)]="altura"></td>
            <td><input type="number" [(ngModel)]="peso"></td>
        </tr>
    </tbody>
</table>

<button class="btn btn-success" (click)="quote()">Quote</button>
<br>
<hr>
<table class="table table-bordered">
    <thead>
        <th>Selecione</th>
        <th>ID</th>
        <th>Preço do frete</th>
        <th>Prazo</th>
        <th>Origem</th>
        <th>Destino</th>
        <th>Transportadora</th>
        <th>Peso cubado</th>

    </thead>
    <tbody>
        <tr *ngFor="let quote of quotes;let i = index;">
            <td class="align-items-center"><button class="btn btn-primary" (click)="regRecentQuotes(this.quote.precoFrete, this.quote.tempo, this.quote.start_adress, this.quote.end_address, this.quote.carrierID, this.quote.cubagem, this.quote.pessoaID    )">Save</button></td>
            <td>{{i+1}}</td>
            <td>R${{quote.precoFrete}}</td>
            <td>{{quote.tempo}} dias úteis</td>
            <td>{{quote.start_adress}}</td>
            <td>{{quote.end_address}}</td>
            <td>{{quote.carrier}}</td>
            <td>{{quote.cubagem}} kg</td>

        </tr>
    </tbody>
</table>