<div class="container-fluid">
  <br><br>
  <div class="row">

    <div class="card bg-gray text-center col mr-5 ml-5" id="graph">
      <h2 id="card-title">PACKAGES QUANTITY IN LAST WEEK</h2>
      <svg class='container' width="529px" height="320px" viewBox="30 27 529 286" version="1.1"
        xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <!-- Generator: Sketch 3.8.3 (29802) - http://www.bohemiancoding.com/sketch -->
        <desc>Created with Sketch.</desc>
        <defs></defs>
        <g id="graph-copy" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"
          transform="translate(30.000000, 27.000000)">
          <g id="y_axis" font-size="16" font-family=".HelveticaNeueDeskInterface-Regular, .Helvetica Neue DeskInterface"
            fill="#FFFFFF" opacity="0.4" font-weight="normal">
            <text id="0">
              <tspan x="12.7757572" y="264.333333">0</tspan>
            </text>
            <text id="400">
              <tspan x="12.7757572" y="201">2</tspan>
            </text>
            <text id="800">
              <tspan x="12.7757572" y="137.666667">4</tspan>
            </text>
            <text id="1200">
              <tspan x="12.7757572" y="74.3333333">6</tspan>
            </text>
            <text id="1600">
              <tspan x="12.7757572" y="11">8</tspan>
            </text>
          </g>
          <g id="GRAPHS" transform="translate(64.000000, 16.000000)" stroke-linecap="round" stroke-width="8"
            stroke-linejoin="round">
            <!-- <polyline id="lucro1" stroke="#5BCAC1"></polyline> -->
            <!-- <polyline id="lucro2" stroke="#81DEFF"></polyline> -->
            <polyline id="lucro3" stroke="#F6F5A6"></polyline>
          </g>
          <g id="x_axis" transform="translate(71.974046, 271.541667)" font-size="11.0833333"
            font-family=".HelveticaNeueDeskInterface-Regular, .Helvetica Neue DeskInterface" fill="#FFFFFF"
            opacity="0.4" font-weight="normal">
            <text id="1">
              <tspan x="0.396183206" y="11">1</tspan>
            </text>
            <!-- <text id="2">
                <tspan x="39.2603361" y="11">2</tspan>
            </text> -->
            <text id="3">
              <tspan x="73.40789833833333" y="11">2</tspan>
            </text>
            <!-- <text id="4">
                <tspan x="118.496977" y="11">4</tspan>
            </text> -->
            <text id="5">
              <tspan x="146.4196134706667" y="11">3</tspan>
            </text>
            <!-- <text id="6">
                <tspan x="197.733619" y="11">6</tspan>
            </text> -->
            <text id="7">
              <tspan x="219.431328603" y="11">4</tspan>
            </text>
            <!-- <text id="8">
                <tspan x="276.97026" y="11">8</tspan>
            </text> -->
            <text id="9">
              <tspan x="292.4430437353333" y="11">5</tspan>
            </text>
            <!-- <text id="10">
                <tspan x="359.229833" y="11">10</tspan>
            </text> -->
            <text id="11">
              <tspan x="365.4547588676667" y="11">6</tspan>
            </text>
            <text id="12">
              <tspan x="438.466474" y="11">7</tspan>
            </text>
          </g>
          <g id="grid" transform="translate(46.618321, 4.750000)" stroke="#FFFFFF" stroke-linecap="square"
            opacity="0.0800000057">
            <path d="M0.396183206,1.1875 L478.991396,1.1875" id="Line"></path>
            <path d="M0.396183206,32.8541667 L478.991396,32.8541667" id="Line"></path>
            <path d="M0.396183206,64.5208333 L478.991396,64.5208333" id="Line"></path>
            <path d="M0.396183206,96.1875 L478.991396,96.1875" id="Line"></path>
            <path d="M0.396183206,127.854167 L478.991396,127.854167" id="Line"></path>
            <path d="M0.396183206,159.520833 L478.991396,159.520833" id="Line"></path>
            <path d="M0.396183206,191.1875 L478.991396,191.1875" id="Line"></path>
            <path d="M0.396183206,222.854167 L478.991396,222.854167" id="Line"></path>
            <path d="M0.396183206,254.520833 L478.991396,254.520833" id="Line"></path>
          </g>
        </g>
      </svg>
    </div>

    <div class="card bg-gray text-center col ml-5 mr-5" id="graph">
      <h2 id="card-title">TOTAL COST PER DAY IN THE LAST WEEK</h2>
      <svg class='container' width="529px" height="320px" viewBox="30 27 529 286" version="1.1"
        xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <!-- Generator: Sketch 3.8.3 (29802) - http://www.bohemiancoding.com/sketch -->
        <desc>Created with Sketch.</desc>
        <defs></defs>
        <g id="graph-copy" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"
          transform="translate(30.000000, 27.000000)">
          <g id="y_axis" font-size="16" font-family=".HelveticaNeueDeskInterface-Regular, .Helvetica Neue DeskInterface"
            fill="#FFFFFF" opacity="0.4" font-weight="normal">
            <text id="0">
              <tspan x="25.3008249" y="264.333333">$0</tspan>
            </text>
            <text id="400">
              <tspan x="12.7757572" y="201">$2,5k</tspan>
            </text>
            <text id="800">
              <tspan x="12.7757572" y="137.666667">$5k</tspan>
            </text>
            <text id="1200">
              <tspan x="6.51322328" y="74.3333333">$4,5k</tspan>
            </text>
            <text id="1600">
              <tspan x="6.51322328" y="11">$6k</tspan>
            </text>
          </g>
          <g id="GRAPHS" transform="translate(64.000000, 16.000000)" stroke-linecap="round" stroke-width="8"
            stroke-linejoin="round">
            <!-- <polyline id="cost1" stroke="#5BCAC1"></polyline> -->
            <polyline id="cost2" stroke="#81DEFF"></polyline>
            <!-- <polyline id="cost3" stroke="#F6F5A6"></polyline> -->
          </g>
          <g id="x_axis" transform="translate(71.974046, 271.541667)" font-size="11.0833333"
            font-family=".HelveticaNeueDeskInterface-Regular, .Helvetica Neue DeskInterface" fill="#FFFFFF"
            opacity="0.4" font-weight="normal">
            <text id="1">
              <tspan x="0.396183206" y="11">1</tspan>
            </text>
            <!-- <text id="2">
                <tspan x="39.2603361" y="11">2</tspan>
            </text> -->
            <text id="3">
              <tspan x="73.40789833833333" y="11">2</tspan>
            </text>
            <!-- <text id="4">
                <tspan x="118.496977" y="11">4</tspan>
            </text> -->
            <text id="5">
              <tspan x="146.4196134706667" y="11">3</tspan>
            </text>
            <!-- <text id="6">
                <tspan x="197.733619" y="11">6</tspan>
            </text> -->
            <text id="7">
              <tspan x="219.431328603" y="11">4</tspan>
            </text>
            <!-- <text id="8">
                <tspan x="276.97026" y="11">8</tspan>
            </text> -->
            <text id="9">
              <tspan x="292.4430437353333" y="11">5</tspan>
            </text>
            <!-- <text id="10">
                <tspan x="359.229833" y="11">10</tspan>
            </text> -->
            <text id="11">
              <tspan x="365.4547588676667" y="11">6</tspan>
            </text>
            <text id="12">
              <tspan x="438.466474" y="11">7</tspan>
            </text>
          </g>
          <g id="grid" transform="translate(46.618321, 4.750000)" stroke="#FFFFFF" stroke-linecap="square"
            opacity="0.0800000057">
            <path d="M0.396183206,1.1875 L478.991396,1.1875" id="Line"></path>
            <path d="M0.396183206,32.8541667 L478.991396,32.8541667" id="Line"></path>
            <path d="M0.396183206,64.5208333 L478.991396,64.5208333" id="Line"></path>
            <path d="M0.396183206,96.1875 L478.991396,96.1875" id="Line"></path>
            <path d="M0.396183206,127.854167 L478.991396,127.854167" id="Line"></path>
            <path d="M0.396183206,159.520833 L478.991396,159.520833" id="Line"></path>
            <path d="M0.396183206,191.1875 L478.991396,191.1875" id="Line"></path>
            <path d="M0.396183206,222.854167 L478.991396,222.854167" id="Line"></path>
            <path d="M0.396183206,254.520833 L478.991396,254.520833" id="Line"></path>
          </g>
        </g>
      </svg>
    </div>
  </div>
  <div class="row">
    <div id="status" class="col-4"><h1>R$ {{this.mediumCostPack}}/Package</h1></div>
    <div class="col-2"></div>
    <div id="status" class="col-4"><h1>R$ {{this.mediumCostCubHeight}}/Cubical Height</h1></div>
  </div>
</div>
