<div class="row">
    <div class="col-lg-3 col-6">


        <div class="small-box bg-gradient-success">
            <div class="inner">
              <h3>{{countPackages}}</h3>
                <p>New packages</p>

            </div>
            <div class="icon">
                <i class="ion ion-bag"></i>
            </div>
            <a (click)="register()" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
        </div>
    </div>

    <div class="col-lg-3 col-6">

        <div class="small-box bg-gradient-yellow">
            <div class="inner">
                <h3>{{countBounce}}<sup style="font-size: 20px">%</sup></h3>
                <p>Bounce Rate</p>

            </div>
            <div class="icon">
                <i class="ion ion-stats-bars"></i>
            </div>
            <a  class="small-box-footer">Used Indicator <i class="fas "></i></a>
        </div>
    </div>


    <div class="col-lg-3 col-6">

        <div class="small-box bg-gradient-blue">
            <div class="inner">

                <h3>{{countClient}}</h3>
                <p>Registered Users</p>

            </div>
            <div class="icon">
                <i class="ion ion-person-add"></i>
            </div>
            <a (click)="clients()" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
        </div>
    </div>

    <div class="col-lg-3 col-6">

        <div class="small-box bg-gradient-primary">
            <div class="inner" >
                <h3>{{countVisitors}}</h3>
                <p>Visits</p>
            </div>
            <div class="icon">
                <i class="ion ion-pie-graph"></i>
            </div>
            <a (click)="visits()" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
        </div>
    </div>

</div>

