.card-title{
  font-size: 25px;
}
#cards .row{
  margin-left: 100px;
  margin-top: 80px;
}
.card-body ul li a{
  color: white;
}
.card-body ul li a:hover{
  color: lightslategrey;
  text-decoration: underline;
}
