<main class="container-fluid">
    <div class="row">
        <div class="col">
            <div class="card bg-gray-dark mt-4">
                <div class="card-body mt-2">
                    <h1>Welcome!!</h1>
                    <h3>Where do you want to go?</h3>
                </div>
            </div>
        </div>
    </div>

    
</main>
<div class="row">
    <div class="col">
        <div class="card bg-warning mr-2" style="max-width: 18rem">
            <div class="card-body">
                <h3 class="card-title">Dashboards</h3>
                <p class="card-text mt-4"><br><br> Clique para ver os Dashboards <br></p>
            </div>
        </div>
    </div>
<div class="col">
    <div class="card bg-primary mr-2" style="max-width: 18rem">
        <div class="card-body">
            <h3 class="card-title">User</h3>
            <p class="card-text mt-4"><br><br> Clique para ver User</p>
        </div>
    </div>
</div>
<div class="col">
    <div class="card bg-olive" style="max-width: 18rem">
        <div class="card-body">
            <h3 class="card-title">Packages</h3>
            <p class="card-text mt-4"><br><br> Clique para ver Packages</p>
        </div>
    </div>
</div>
</div>

    <div class="row">
        <div class="col">
            <div class="card bg-orange" style="max-width: 18rem">
                <div class="card-body">
                    <h3 class="card-title">Finance</h3>
                    <p class="card-text mt-4"><br><br> Clique para ver Finance</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card bg-info" style="max-width: 18rem">
                <div class="card-body">
                    <h3 class="card-title">Quotes</h3>
                    <p class="card-text mt-4"><br><br> Clique para ver Quotes</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card bg-success" style="max-width: 18rem">
                <div class="card-body">
                    <h3 class="card-title">About us</h3>
                    <p class="card-text mt-4"><br><br> Clique para ver About Us</p>
                </div>
            </div>
        </div>
    </div>




    


   