<main class="container-fluid">
  <div class="row">
    <div class="col">
      <div class="card bg-gray-dark mt-4">
        <div class="card-body mt-2">
          <h1>Welcome!!</h1>
          <h3>Where do you want to go?</h3>
        </div>
      </div>
    </div>
  </div>


  <div id="cards">
    <div class="row">
      <div class="col">
        <div class="card bg-warning mr-2" style="max-width: 18rem">
          <div class="card-body" (click)="dashboard()" >
            <h3 class="card-title" id="card-body-dash">
              <span class="fas fa-chart-bar"></span>&nbsp;&nbsp;Dashboards</h3>
            <p class="card-text mt-5"><br><br> <a>Click here to go to Dashboards!</a> <br></p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card bg-primary mr-2" style="max-width: 18rem">
          <div class="card-body">
            <h3 class="card-title"><span class="fas fa-users"></span>&nbsp;&nbsp;User</h3>
            <br>
            <ul class="card-text mt-5">
              <li>
                <a (click)="clients()">Clients</a>
              </li>
              <li>
                <a (click)="carriers()">Carriers</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card bg-olive" style="max-width: 18rem">
          <div class="card-body">
            <h3 class="card-title"><span class="fas fa-box"></span>&nbsp;&nbsp;Packages</h3>
            <br>
            <ul class="card-text mt-5">
              <li>
                <a (click)="register()">Register</a>
              </li>
              <li>
                <a (click)="tracking()">Tracking</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <div class="card bg-orange" style="max-width: 18rem">
          <div class="card-body">
            <h3 class="card-title" (click)="finance()"><span class="fas fa-dollar-sign" id="card-body-dash"></span>&nbsp;&nbsp;Finance</h3>
            <br>
            <ul class="card-text mt-4">
              <li>
                <a (click)="receipt()">Receipt</a>
              </li>
              <li>
                <a (click)="cost()">Cost</a>
              </li>
              <li>
                <a (click)="balance()">Balance</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card bg-info" style="max-width: 18rem">
          <div class="card-body">
            <h3 class="card-title"><span class="fas fa-truck"></span>&nbsp;&nbsp;Quotes</h3>
            <br>
            <ul class="card-text mt-5">
              <li>
                <a (click)="shpQt()">Shipping Quote</a>
              </li>
              <li>
                <a (click)="rctQt()">Recents Quotes</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card bg-success" style="max-width: 18rem">
          <div class="card-body" (click)="about()">
            <h3 class="card-title"><span class="fas fa-building"></span>&nbsp;&nbsp;About us</h3>
            <p class="card-text mt-5"><br><br> <a (click)="about()">Click here to go to About Us</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
