<table class="table table-bordered">
    <thead>
        <th>Razão social</th>
        <th>Taxa</th>
        <th>E-mail</th>
        <th>Cnpj</th>

    </thead>
    <tbody>
        <tr>

            <td><input type="text" [(ngModel)]="razao"></td>
            <td><input type="text" [(ngModel)]="taxa"></td>
            <td><input type="text" [(ngModel)]="email"></td>
            <td><input type="text" [(ngModel)]="cnpj"></td>

        </tr>
    </tbody>
</table>





<button class="btn btn-success" (click)="adicionar(this.razao, this.taxa, this.email, this.cnpj)">Add</button>
<br>
<hr>

<table class="table table-bordered">
    <thead>
        
        <th>ID</th>
        <th>Razão social</th>
        <th>Taxa</th>
        <th>E-mail</th>
        <th>Cnpj</th>
        <th>Ação</th>
        

    </thead>
    <tbody>
        <tr *ngFor="let carrier of carriers;let i = index;">
            
            <td>{{i+1}}</td>
            <td>{{carrier.razao}}</td>
            <td>{{carrier.taxa}}</td>
            <td>{{carrier.email}}</td>
            <td>{{carrier.cnpj}}</td>
            <td>
                <button class="btn btn-danger mr-2" (click)="deletar()">Deletar</button>
                <button class="btn btn-primary mr-2" (click)="alterar()">Alterar</button>
            </td>

        </tr>
    </tbody>
</table>