<div class="card">
    <div class="card-body">
        <div class="row text-center">
            <div class="col">
                <img class="rounded-circle mx-auto d-block"
                    src="https://media-exp1.licdn.com/dms/image/C4D03AQHpEUqoKMocbA/profile-displayphoto-shrink_200_200/0/1621444583042?e=1668038400&v=beta&t=vKPLKQ_80zHvfvd1sH7yu5FupIZKVQrSTHiusAH4hy4"
                    alt="">
                <h4>Bruno Roberto</h4>
                <div class="text-muted">Frontend Dev.</div>
                <br>
                <a class="btn btn-dark btn-social mx-2" href="" target="_blank"
                    aria-label="Parveen Anand Email Profile"><i class="fas fa-envelope"></i></a>
                <a class="btn btn-dark btn-social mx-2" href="https://github.com/bruno-roberto" target="_blank"
                    aria-label="Parveen Anand Github Profile"><i class="fab fa-github"></i></a>
                <a class="btn btn-dark btn-social mx-2" href="https://www.linkedin.com/in/bruno-roberto-49941a186/"
                    target="_blank" aria-label="Parveen Anand LinkedIn Profile"><i class="fab fa-linkedin-in"></i></a>
            </div>
            <div class="col">
                <img class="rounded-circle mx-auto d-block"
                    src="https://media-exp1.licdn.com/dms/image/C4E03AQEy5dyQP7F1Eg/profile-displayphoto-shrink_200_200/0/1650741055374?e=1668038400&v=beta&t=RJ4Gtvig8AQsLJwI69CQ2NRBtNie330BOuSvl6fmxTM"
                    alt="">
                <h4>Cristian Schauffert</h4>
                <div class="text-muted">Web Designer</div>
                <br>
                <a class="btn btn-dark btn-social mx-2"
                    href="https://mail.google.com/mail/u/0/?fs=1&to=schauffertcristian@gmail.com&su=CONTACT BY SITE TIME ROXO - HELLO CRISTIAN&body=Olá+Cristian%20Schauffert,+Tudo+bem?&tf=cm"
                    target="_blank" aria-label="Parveen Anand Email Profile"><i class="fas fa-envelope"></i></a>
                <a class="btn btn-dark btn-social mx-2" href="https://github.com/Cristian-Baade" target="_blank"
                    aria-label="Parveen Anand Github Profile"><i class="fab fa-github"></i></a>
                <a class="btn btn-dark btn-social mx-2"
                    href="https://www.linkedin.com/in/cristian-schauffert-a818ba238/" target="_blank"
                    aria-label="Parveen Anand LinkedIn Profile"><i class="fab fa-linkedin-in"></i></a>
            </div>
            <div class="col">
                <img class="rounded-circle mx-auto d-block"
                    src="https://media-exp1.licdn.com/dms/image/C4D03AQFASq3_Un9xjg/profile-displayphoto-shrink_200_200/0/1659021750145?e=1668038400&v=beta&t=Y3mXW4Ah-53S5ozBMsItnMsDrOIWYRfn-BggIzZhXqA"
                    alt="">
                <h4>Kalil J. Fakhouri</h4>
                <div class="text-muted">Lead Developer</div>
                <br>
                <a class="btn btn-dark btn-social mx-2"
                    href="https://mail.google.com/mail/u/0/?fs=1&to=kjfakhouri@gmail.com&su=CONTACT BY SITE TIME ROXO - HELLO KALIL&body=Olá+Kalil%20J.%20Fakhouri,+Tudo+bem?&tf=cm"
                    target="_blank" aria-label="Parveen Anand Email Profile"><i class="fas fa-envelope"></i></a>
                <a class="btn btn-dark btn-social mx-2" href="github.com/kaka-jaques" target="_blank"
                    aria-label="Parveen Anand Github Profile"><i class="fab fa-github"></i></a>
                <a class="btn btn-dark btn-social mx-2" href="https://www.linkedin.com/in/kalil-j-fakhouri-1744b321a/"
                    target="_blank" aria-label="Parveen Anand LinkedIn Profile"><i class="fab fa-linkedin-in"></i></a>
            </div>
            <div class="col">
                <img class="rounded-circle mx-auto d-block"
                    src="https://media-exp1.licdn.com/dms/image/C4E03AQH4Njl7ibZX0g/profile-displayphoto-shrink_200_200/0/1624701369216?e=1668038400&v=beta&t=xKA-Mewgk1XM5bmTu8aM7AJUqL-Sz2_LVzUm8AZkFdo"
                    alt="">
                <h4>Mateus Felipe</h4>
                <div class="text-muted">Lead Developer</div>
                <br>
                <a class="btn btn-dark btn-social mx-2" href="" target="_blank"
                    aria-label="Parveen Anand Email Profile"><i class="fas fa-envelope"></i></a>
                <a class="btn btn-dark btn-social mx-2" href="https://github.com/mat-felipe" target="_blank"
                    aria-label="Parveen Anand Github Profile"><i class="fab fa-github"></i></a>
                <a class="btn btn-dark btn-social mx-2" href="https://www.linkedin.com/in/mateusgoettems/"
                    target="_blank" aria-label="Parveen Anand LinkedIn Profile"><i class="fab fa-linkedin-in"></i></a>
            </div>
        </div>
    </div>
</div>
<div class="card">
    <div class="card-body">
        <h1>Sobre o Projeto</h1>
        <hr>
        <h3>Licença,Disponibilidade e finalidade</h3>
        <br>
        <h5> Esse projeto foi desenvolvido pelo grupo Roxo da Turma Java Noturno de 2022, composto por Bruno Roberto,
            Cristian Schauffert, Kalil Fakhouri e Mateus Felipe com a mentoria do professor Oliota, visando apenas a
            demonstração dos conhecimentos técnicos adquiridos durante o curso e a apresentação da etapa final à
            empresas.
            <br><br>
            A cópia do recurso está disponível a todos, podendo ser modificada e alterada. Fica proibida a venda,
            distribuição ou repasse da mesma.
            A maioria dos recurso e tecnologias são de código livre (open-source) ou teste de avaliação por tempo
            determinado (Google Cloud), afim de trazer a melhor experiência do uso de um software funcional.
            <br><br>
            Devido ao nosso objetivo de comprovar os conhecimentos adquiridos, algumas partes do software são simulados
            devido ao tempo e resposta que levaria na realidade, acelerando, assim, o processo de entrega, por exemplo, para que
            possa ser vista em tempo real o processamento de dados, tanto localmente quanto em nuvem.

        </h5>
    </div>
</div>