
<div class="card">
    <div class="card-body">
        <div class="row text-center">
            <div class="col">
                <img class="rounded-circle mx-auto d-block" *ngFor="let about of abouts; let i = index;"
                    src={{about.bruno_foto}}
                    alt="">
                <h4 *ngFor="let about of abouts; let i = index;">{{about.bruno_nome}}</h4>           
                <div class="text-muted" *ngFor="let about of abouts; let i = index;">{{about.bruno_funcao}}</div>
                <br>
                <a class="btn btn-dark btn-social mx-2" *ngFor="let about of abouts; let i = index;" href={{about.bruno_email}} target="_blank"
                    ><i class="fas fa-envelope"></i></a>
                <a class="btn btn-dark btn-social mx-2" *ngFor="let about of abouts; let i = index;" href={{about.bruno_github}} target="_blank"
                    ><i class="fab fa-github"></i></a>
                <a class="btn btn-dark btn-social mx-2" *ngFor="let about of abouts; let i = index;" href={{about.bruno_linkedin}}
                    target="_blank" aria-label="Parveen Anand LinkedIn Profile"><i class="fab fa-linkedin-in"></i></a>
            </div>
            <div class="col">
                <img class="rounded-circle mx-auto d-block" *ngFor="let about of abouts; let i = index;"
                    src={{about.cristian_foto}}
                    alt="">
                <h4 *ngFor="let about of abouts; let i = index;">{{about.cristian_nome}}</h4>
                <div class="text-muted" *ngFor="let about of abouts; let i = index;">{{about.cristian_funcao}}</div>
                <br>
                <a class="btn btn-dark btn-social mx-2" *ngFor="let about of abouts; let i = index;"
                    href={{about.cristian_email}}
                    target="_blank" aria-label="Parveen Anand Email Profile"><i class="fas fa-envelope"></i></a>
                <a class="btn btn-dark btn-social mx-2" *ngFor="let about of abouts; let i = index;" href={{about.cristian_github}} target="_blank"
                   ><i class="fab fa-github"></i></a>
                <a class="btn btn-dark btn-social mx-2" *ngFor="let about of abouts; let i = index;"
                    href={{about.cristian_linkedin}} target="_blank"
                    aria-label="Parveen Anand LinkedIn Profile"><i class="fab fa-linkedin-in"></i></a>
            </div>
            <div class="col">
                <img class="rounded-circle mx-auto d-block" *ngFor="let about of abouts; let i = index;"
                    src={{about.kalil_foto}}
                    alt="">
                <h4 *ngFor="let about of abouts; let i = index;">{{about.kalil_nome}}</h4>
                <div class="text-muted" *ngFor="let about of abouts; let i = index;">{{about.kalil_funcao}}</div>
                <br>
                <a class="btn btn-dark btn-social mx-2" *ngFor="let about of abouts; let i = index;"
                    href={{about.kalil_email}}
                    target="_blank" aria-label="Parveen Anand Email Profile"><i class="fas fa-envelope"></i></a>
                <a class="btn btn-dark btn-social mx-2" *ngFor="let about of abouts; let i = index;" href={{about.kalil_github}} target="_blank"
                    ><i class="fab fa-github"></i></a>
                <a class="btn btn-dark btn-social mx-2" *ngFor="let about of abouts; let i = index;" href={{about.kalil_linkedin}}
                    target="_blank" aria-label="Parveen Anand LinkedIn Profile"><i class="fab fa-linkedin-in"></i></a>
            </div>
            <div class="col">
                <img class="rounded-circle mx-auto d-block" *ngFor="let about of abouts; let i = index;"
                    src={{about.mateus_foto}}
                    alt="">
                <h4 *ngFor="let about of abouts; let i = index;">{{about.mateus_nome}}</h4>
                <div class="text-muted" *ngFor="let about of abouts; let i = index;">{{about.mateus_funcao}}</div>
                <br>
                <a class="btn btn-dark btn-social mx-2" *ngFor="let about of abouts; let i = index;" href={{about.mateus_email}} target="_blank"
                   ><i class="fas fa-envelope"></i></a>
                <a class="btn btn-dark btn-social mx-2" *ngFor="let about of abouts; let i = index;" href={{about.mateus_github}} target="_blank"
                    ><i class="fab fa-github"></i></a>
                <a class="btn btn-dark btn-social mx-2" *ngFor="let about of abouts; let i = index;" href={{about.mateus_linkedin}}
                    target="_blank" ><i class="fab fa-linkedin-in"></i></a>
            </div>
        </div>
    </div>
</div>
<div class="card">
    <div class="card-body">
        <h1 *ngFor="let about of abouts; let i = index;">{{about.titulo}}</h1>
        <hr>
        <h3 *ngFor="let about of abouts; let i = index;">{{about.sub_titulo}}</h3>
        <br>
        <h5> Esse projeto foi desenvolvido pelo grupo Roxo da Turma Java Noturno de 2022, composto por Bruno Roberto,
            Cristian Schauffert, Kalil Fakhouri e Mateus Felipe com a mentoria do professor Oliota, visando apenas a
            demonstração dos conhecimentos técnicos adquiridos durante o curso e a apresentação da etapa final à
            empresas.
            <br><br>
            A cópia do recurso está disponível a todos, podendo ser modificada e alterada. Fica proibida a venda,
            distribuição ou repasse da mesma.
            A maioria dos recurso e tecnologias são de código livre (open-source) ou teste de avaliação por tempo
            determinado (Google Cloud), afim de trazer a melhor experiência do uso de um software funcional.
            <br><br>
            Devido ao nosso objetivo de comprovar os conhecimentos adquiridos, algumas partes do software são simulados
            devido ao tempo e resposta que levaria na realidade, acelerando, assim, o processo de entrega, por exemplo, para que
            possa ser vista em tempo real o processamento de dados, tanto localmente quanto em nuvem.

        </h5>
    </div>
</div>
