<div class="card">
    <div class="card-body">
        <div class="row text-center">
            <div class="col">
                <img class="rounded-circle mx-auto d-block" *ngFor="let about of abouts; let i = index;"
                    src={{about.bruno_foto}} alt="">
                <h4 *ngFor="let about of abouts; let i = index;">{{about.bruno_nome}}</h4>
                <div class="text-muted" *ngFor="let about of abouts; let i = index;">{{about.bruno_funcao}}</div>
                <br>
                <a class="btn btn-dark btn-social mx-1" *ngFor="let about of abouts; let i = index;"
                    href={{about.bruno_email}} target="_blank"><i class="fas fa-envelope"></i></a>
                <a class="btn btn-dark btn-social mx-1" *ngFor="let about of abouts; let i = index;"
                    href={{about.bruno_github}} target="_blank"><i class="fab fa-github"></i></a>
                <a class="btn btn-dark btn-social mx-1" *ngFor="let about of abouts; let i = index;"
                    href={{about.bruno_linkedin}} target="_blank" aria-label="Parveen Anand LinkedIn Profile"><i
                        class="fab fa-linkedin-in"></i></a>
                <a class="btn btn-dark btn-social mx-1" href="https://bruno-roberto.github.io/" target="_blank"
                    aria-label="Parveen Anand LinkedIn Profile"><i class="fas fa-link"></i></a>
            </div>
            <div class="col">
                <img class="rounded-circle mx-auto d-block" *ngFor="let about of abouts; let i = index;"
                    src={{about.cristian_foto}} alt="">
                <h4 *ngFor="let about of abouts; let i = index;">{{about.cristian_nome}}</h4>
                <div class="text-muted" *ngFor="let about of abouts; let i = index;">{{about.cristian_funcao}}</div>
                <br>
                <a class="btn btn-dark btn-social mx-1" *ngFor="let about of abouts; let i = index;"
                    href={{about.cristian_email}} target="_blank" aria-label="Parveen Anand Email Profile"><i
                        class="fas fa-envelope"></i></a>
                <a class="btn btn-dark btn-social mx-1" *ngFor="let about of abouts; let i = index;"
                    href={{about.cristian_github}} target="_blank"><i class="fab fa-github"></i></a>
                <a class="btn btn-dark btn-social mx-1" *ngFor="let about of abouts; let i = index;"
                    href={{about.cristian_linkedin}} target="_blank" aria-label="Parveen Anand LinkedIn Profile"><i
                        class="fab fa-linkedin-in"></i></a>
                <a class="btn btn-dark btn-social mx-1" href="https://cristian-baade.github.io/index.html"
                    target="_blank" aria-label="Parveen Anand LinkedIn Profile"><i class="fas fa-link"></i></a>

            </div>
            <div class="col">
                <img class="rounded-circle mx-auto d-block" *ngFor="let about of abouts; let i = index;"
                    src={{about.kalil_foto}} alt="">
                <h4 *ngFor="let about of abouts; let i = index;">{{about.kalil_nome}}</h4>
                <div class="text-muted" *ngFor="let about of abouts; let i = index;">{{about.kalil_funcao}}</div>
                <br>
                <a class="btn btn-dark btn-social mx-1" *ngFor="let about of abouts; let i = index;"
                    href={{about.kalil_email}} target="_blank" aria-label="Parveen Anand Email Profile"><i
                        class="fas fa-envelope"></i></a>
                <a class="btn btn-dark btn-social mx-1" *ngFor="let about of abouts; let i = index;"
                    href={{about.kalil_github}} target="_blank"><i class="fab fa-github"></i></a>
                <a class="btn btn-dark btn-social mx-1" *ngFor="let about of abouts; let i = index;"
                    href={{about.kalil_linkedin}} target="_blank" aria-label="Parveen Anand LinkedIn Profile"><i
                        class="fab fa-linkedin-in"></i></a>
                <a class="btn btn-dark btn-social mx-1" href="https://kaka-jaques.github.io/#about" target="_blank"
                    aria-label="Parveen Anand LinkedIn Profile"><i class="fas fa-link"></i></a>
            </div>
            <div class="col">
                <img class="rounded-circle mx-auto d-block" *ngFor="let about of abouts; let i = index;"
                    src={{about.mateus_foto}} alt="">
                <h4 *ngFor="let about of abouts; let i = index;">{{about.mateus_nome}}</h4>
                <div class="text-muted" *ngFor="let about of abouts; let i = index;">{{about.mateus_funcao}}</div>
                <br>
                <a class="btn btn-dark btn-social mx-1" *ngFor="let about of abouts; let i = index;"
                    href={{about.mateus_email}} target="_blank"><i class="fas fa-envelope"></i></a>
                <a class="btn btn-dark btn-social mx-1" *ngFor="let about of abouts; let i = index;"
                    href={{about.mateus_github}} target="_blank"><i class="fab fa-github"></i></a>
                <a class="btn btn-dark btn-social mx-1" *ngFor="let about of abouts; let i = index;"
                    href={{about.mateus_linkedin}} target="_blank"><i class="fab fa-linkedin-in"></i></a>
                <a class="btn btn-dark btn-social mx-1" href="https://mat-felipe.github.io/" target="_blank"
                    aria-label="Parveen Anand LinkedIn Profile"><i class="fas fa-link"></i></a>

            </div>
        </div>
    </div>
</div>
<div class="card">
    <div class="card-body">
        <h1 *ngFor="let about of abouts; let i = index;">{{about.titulo}}</h1>
        <hr>
        <h3 *ngFor="let about of abouts; let i = index;">{{about.sub_titulo}}</h3>
        <br>
        <h5> This project was developed by Purple Team of Java night class 2022, composed by Bruno Roberto,
            Cristian Schauffert, Kalil Fakhouri and Mateus Felipe with the mentorship of Teacher Oliota, aiming only
            to demonstrate the technical knowledge acquired during the course and the presentation of the stage end to
            companies.
            <br><br>
            The copy of the resource is available to everyone and can be modified and changed. Its sale, distribution or
            transfer is prohibited. Most of the resources and technologies are open-source or evaluation testing for a
            determined time (Google Cloud), in order to bring the best experience of using a functional software.
            <br><br>
            Due to our objective of proving the acquired knowledge, some parts of the software are simulated due to the
            time and response it would take in reality, thus accelerating the delivery process, for example, so that the
            data processing can be seen in real time. both locally and in the cloud.

        </h5>
    </div>
</div>