<div class="section"
  style="background-image: url('https://cdn.discordapp.com/attachments/982441341638295574/1015433573307793448/pexels-artem-podrez-5025654.jpg');">
  <div class="container">
    <div id="alert" class="alert alert-danger fade" role="alert">
      <h4 class="alert-heading">Error!</h4>
      User or Password wrong! Please, review your credentials your <a routerLink="forgetPassword"
        class="alert-link">Recover your password!</a>
    </div>
    <div id="alert-field" class="alert alert-danger fade" role="alert">
      <h4 class="alert-heading">Error!</h4>
      Please, fill all fields!
    </div>
    <div class="row full-height justify-content-center">
      <div class="col-12 text-center align-self-center py-5">
        <div class="section pb-5 pt-5 pt-sm-2 text-center">
          <h6 class="mb-0 pb-3"><span>Log In </span><span>Sign Up</span></h6>
          <input class="checkbox" type="checkbox" id="reg-log" name="reg-log" />
          <label for="reg-log"></label>
          <div class="card-3d-wrap mx-auto">
            <div class="card-3d-wrapper">
              <div class="card-front">
                <div class="center-wrap">
                  <div class="section text-center">
                    <h4 class="mb-4 pb-3">Log In</h4>
                    <div class="form-group">
                      <input type="text" name="user" class="form-style" placeholder="User" id="user" autocomplete="off"
                        [(ngModel)]="user" required (keyup.enter)="submit()" [disabled]="loginService.progress">
                      <i class="input-icon uil uil-at"></i>
                    </div>
                    <div class="form-group mt-2">
                      <input type="password" name="password" class="form-style" placeholder="Password" id="password"
                        autocomplete="on" [(ngModel)]="password" required (keyup.enter)="submit()"
                        [disabled]="loginService.progress">
                      <i class="input-icon uil uil-lock-alt"></i>
                    </div>
                    <button class="btn mt-4" id="submitButton" (click)="submit()" [disabled]="loginService.progress"> <i
                        [ngClass]="{'fas fa-circle-notch fa-spin': loginService.progress}"></i>&nbsp;&nbsp;submit</button>
                    <p class="mb-0 mt-4 text-center"><a routerLink="forgetPassword" class="link">Forgot your
                        password?</a></p>
                  </div>
                </div>
              </div>
              <div class="card-back">
                <div class="center-wrap">
                  <div class="section text-center">
                    <h4 class="mb-4 pb-3">Sign Up</h4>
                    <div class="form-group">
                      <input type="text" name="logname" class="form-style" placeholder="Your Full Name" id="name"
                        autocomplete="on" [(ngModel)]="nameReg" required (keyup.enter)="register()"
                        [disabled]="loginService.progress">
                      <i class="input-icon uil uil-user"></i>
                    </div>
                    <div class="form-group mt-2">
                      <input type="text" name="loguser" class="form-style" placeholder="Your User" id="user"
                        autocomplete="on" [(ngModel)]="userReg" required (keyup.enter)="register()"
                        [disabled]="loginService.progress">
                      <i class="input-icon uil uil-user"></i>
                    </div>
                    <div class="form-group mt-2">
                      <input type="email" name="logemail" class="form-style" placeholder="Your Email" id="email"
                        autocomplete="on" [(ngModel)]="emailReg" required (keyup.enter)="register()"
                        [disabled]="loginService.progress">
                      <i class="input-icon uil uil-at"></i>
                    </div>
                    <div class="form-group mt-2">
                      <input type="password" name="logpass" class="form-style" placeholder="Your Password" id="password"
                        autocomplete="on" [(ngModel)]="passwordReg" required (keyup.enter)="register()"
                        [disabled]="loginService.progress">
                      <i class="input-icon uil uil-lock-alt"></i>
                    </div>
                    <button class="btn mt-4" (click)="register()" [disabled]="loginService.progress"><i
                        [ngClass]="{'fas fa-circle-notch fa-spin': loginService.progress}"></i>&nbsp;&nbsp;Register</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
