
<div class="card">
    <div class="card-header">
        <h1>Edit your information</h1>
    </div>
    <div class="card-body">

        <label for="Name">Name:</label>
        <div class="input-group">
            <input value={{name}} type="text" class="form-control" name="Name" id="name" placeholder="Name" required>

        </div>

        <label for="User">User:</label>
        <div class="input-group">
            <input value={{user}} type="text" class="form-control" name="User" id="user" placeholder="User" required>

        </div>

        <label for="nascimento">Birthday:</label>
        <div> <input value={{birth}} type="date" class="form-control" name="birthday" id="birthday" placeholder="Birthday" required>
        </div>

        <label for="documento">Document:</label>
        <div>
            <input value={{document}} type="number" class="form-control" name="Document" id="document" placeholder="Document" required>

        </div>


        <div>
            <label for="email">Email:</label>
            <input value={{email}} required type="email" name="email" id="email" placeholder="Email" class="form-control">

        </div>

        <div>
            <label for="senha">Password:</label>
            <input value={{password}} required type="password" name="password" id="password" placeholder="Password"
                class="form-control">


        </div>

    </div>


    <div class="card-footer">
      <button class="btn btn-primary mr-2" (click)="alterar()">Alterar</button>
    </div>
</div>