<button class="btn btn-primary" (click)="openModal()">New Quote</button>

<div class="portfolio-modal modal fade show" id="modal2" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="close-modal" data-bs-dismiss="modal"><img src="assets/img/close-icon.svg"
                  alt="Close modal" /></div>
          <div class="container">
              <div class="row">
                  <div class="col-lg-8">
                      <div class="modal-body">
                          <h2 class="text-uppercase">Ship Quote</h2>
                          <p class="item-intro text-muted">Made your quote without compromisse!</p>
                          <!-- <img class="img-fluid d-block mx-auto" src="assets/img/portfolio/2.jpg" alt="..." /> -->
                            <div class="input-group" style="width: 100%;">
                              <span class="input-group-text"
                                  style="border-radius: 5px; border-right: 10px;">🧑🏽‍💻</span>
                              <input type="text" class="form-control" name="Nome"
                                  placeholder="CEP Origem" required tabindex="1">
                          </div>
                          <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button" (click)="closeModal()">
                              <i class="fas fa-xmark me-1"></i>
                              Quote!
                          </button>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
