<div class="section" style="background-image: url('https://cdn.discordapp.com/attachments/982441341638295574/1015433573307793448/pexels-artem-podrez-5025654.jpg');">
  <div class="container">
    <div class="row full-height justify-content-center">
      <div class="col-12 text-center align-self-center py-5">
        <div class="section pb-5 pt-5 pt-sm-2 text-center">
          <div class="card-3d-wrap mx-auto">
            <div class="card-3d-wrapper">
              <div class="card-front">
                <div class="center-wrap">
                  <div class="section text-center">
                    <h4 class="mb-4 pb-3">Recover Password</h4>
                    <div class="form-group">
                      <input type="text" name="user" class="form-style" placeholder="User" id="user"
                        autocomplete="off" [(ngModel)]="user" required (keyup.enter)="submit()" [disabled]="loginService.progress">
                      <i class="input-icon uil uil-at"></i>
                    </div>
                    <div class="form-group mt-2">
                      <input type="text" name="email" class="form-style" placeholder="Email" id="password"
                        autocomplete="off" [(ngModel)]="password" required (keyup.enter)="submit()" [disabled]="loginService.progress">
                      <i class="input-icon uil uil-lock-alt"></i>
                    </div>
                    <div class="form-group mt-2">
                        <input type="text" name="confirmEmail" class="form-style" placeholder="Confirm Email" id="password"
                          autocomplete="off" [(ngModel)]="password" required (keyup.enter)="submit()" [disabled]="loginService.progress">
                        <i class="input-icon uil uil-lock-alt"></i>
                      </div>
                                       
                    <button class="btn mt-4" id="submitButton" (click)="submit()" [disabled]="loginService.progress"> <i [ngClass]="{'fas fa-circle-notch fa-spin': loginService.progress}"></i>&nbsp;&nbsp;Sent a Email</button>
                    <p class="mb-0 mt-4 text-center"><a routerLink="" class="link">Try to login again</a></p>
                  </div>
                </div>
              </div>
                      </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

